<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update Form</title>
    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
</head>
<body>
<div class="boxContainer column">
    <form id="myForm"
          th:action="@{/users/update}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="column">
            <div class="row">
                <p>Name</p>
                <input type="text" th:field="*{name}" placeholder="Name"/>
            </div>
            <div class="row">
                <p>Authority</p>
                <input type="text" th:field="*{authority}" placeholder="Authority"/>
            </div>
            <div class="row">
                <p>Email</p>
                <input type="email" th:field="*{email}" placeholder="Email"/>
            </div>
            <div class="row">
                <p>Phone</p>
                <input type="text" th:field="*{phone}" placeholder="Phone"/>
            </div>
            <button type="submit" class="ekleBtn">Update</button>
        </div>
    </form>
</div>

<a href="/users"><div class="vazgecBtn">Cancel</div></a>

</body>
</html>
